@keyframes move {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    transform: translateY(2000px);
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(2000px);
  }
}
@keyframes glassMove {
  0% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  29% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  30% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  90% {
    transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes glassMove {
  0% {
    -webkit-transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  29% {
    -webkit-transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  90% {
    -webkit-transform: translateY(0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(10px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

#rainwrap {
  position: absolute;
  top:0px; left: 0px;z-index: -1;overflow: hidden;width:100%;bottom:0px;
  background: url('../img/rain_bg.jpg') no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

#rainwrap .field {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 800%;
  margin-left: -400%;
  z-index: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective-origin: top;
  -webkit-perspective-origin: top;
  filter: blur(1px);
  -o-filter: blur(1px);
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
}

.rain {
  position: absolute;
  top: 0px;
  left: 50%;
}
.rain .item {
  display: block;
  width: 3px;
  height: 70px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
}
.rain .item:after {
  /*content: "";
  display: block;*/
}

.glass {
  position: absolute;
  top: 50%;
  left: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.glass .item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.5) inset;
  position: relative;
  filter: blur(2px);
  -o-filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
}
.glass .item:after {
  content: "";
  display: block;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 15%;
  top: 15%;
  filter: blur(2px);
  -o-filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  transform: rotateZ(45deg) scaleY(0.8);
  -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move0 {
  animation: move 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
  -webkit-animation: move 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
}

.glassMove0 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
}

.pos0 {
  left: 0%;
}

.posTop0 {
  top: 0%;
}

.translate0 {
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.scale0 {
  transform: scale(0);
  -webkit-transform: scale(0);
}

.move1 {
  animation: move 0.05s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s infinite normal;
  -webkit-animation: move 0.05s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s infinite normal;
}

.glassMove1 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s infinite normal;
}

.pos1 {
  left: 2%;
}

.posTop1 {
  top: 2%;
}

.translate1 {
  transform: translateZ(-80px);
  -webkit-transform: translateZ(-80px);
}

.scale1 {
  transform: scale(0.01);
  -webkit-transform: scale(0.01);
}

.move2 {
  animation: move 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s infinite normal;
  -webkit-animation: move 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s infinite normal;
}

.glassMove2 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 1s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 1s infinite normal;
}

.pos2 {
  left: 4%;
}

.posTop2 {
  top: 4%;
}

.translate2 {
  transform: translateZ(-160px);
  -webkit-transform: translateZ(-160px);
}

.scale2 {
  transform: scale(0.02);
  -webkit-transform: scale(0.02);
}

.move3 {
  animation: move 0.15s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s infinite normal;
  -webkit-animation: move 0.15s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s infinite normal;
}

.glassMove3 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s infinite normal;
}

.pos3 {
  left: 6%;
}

.posTop3 {
  top: 6%;
}

.translate3 {
  transform: translateZ(-240px);
  -webkit-transform: translateZ(-240px);
}

.scale3 {
  transform: scale(0.03);
  -webkit-transform: scale(0.03);
}

.move4 {
  animation: move 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s infinite normal;
  -webkit-animation: move 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s infinite normal;
}

.glassMove4 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 2s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 2s infinite normal;
}

.pos4 {
  left: 8%;
}

.posTop4 {
  top: 8%;
}

.translate4 {
  transform: translateZ(-320px);
  -webkit-transform: translateZ(-320px);
}

.scale4 {
  transform: scale(0.04);
  -webkit-transform: scale(0.04);
}

.move5 {
  animation: move 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s infinite normal;
  -webkit-animation: move 0.25s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s infinite normal;
}

.glassMove5 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s infinite normal;
}

.pos5 {
  left: 10%;
}

.posTop5 {
  top: 10%;
}

.translate5 {
  transform: translateZ(-400px);
  -webkit-transform: translateZ(-400px);
}

.scale5 {
  transform: scale(0.05);
  -webkit-transform: scale(0.05);
}

.move6 {
  animation: move 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s infinite normal;
  -webkit-animation: move 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s infinite normal;
}

.glassMove6 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 3s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 3s infinite normal;
}

.pos6 {
  left: 12%;
}

.posTop6 {
  top: 12%;
}

.translate6 {
  transform: translateZ(-480px);
  -webkit-transform: translateZ(-480px);
}

.scale6 {
  transform: scale(0.06);
  -webkit-transform: scale(0.06);
}

.move7 {
  animation: move 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s infinite normal;
  -webkit-animation: move 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s infinite normal;
}

.glassMove7 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s infinite normal;
}

.pos7 {
  left: 14.0%;
}

.posTop7 {
  top: 14.0%;
}

.translate7 {
  transform: translateZ(-560px);
  -webkit-transform: translateZ(-560px);
}

.scale7 {
  transform: scale(0.07);
  -webkit-transform: scale(0.07);
}

.move8 {
  animation: move 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s infinite normal;
  -webkit-animation: move 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s infinite normal;
}

.glassMove8 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 4s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 4s infinite normal;
}

.pos8 {
  left: 16%;
}

.posTop8 {
  top: 16%;
}

.translate8 {
  transform: translateZ(-640px);
  -webkit-transform: translateZ(-640px);
}

.scale8 {
  transform: scale(0.08);
  -webkit-transform: scale(0.08);
}

.move9 {
  animation: move 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s infinite normal;
  -webkit-animation: move 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s infinite normal;
}

.glassMove9 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s infinite normal;
}

.pos9 {
  left: 18%;
}

.posTop9 {
  top: 18%;
}

.translate9 {
  transform: translateZ(-720px);
  -webkit-transform: translateZ(-720px);
}

.scale9 {
  transform: scale(0.09);
  -webkit-transform: scale(0.09);
}

.move10 {
  animation: move 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s infinite normal;
  -webkit-animation: move 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s infinite normal;
}

.glassMove10 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 5s infinite normal;
}

.pos10 {
  left: 20%;
}

.posTop10 {
  top: 20%;
}

.translate10 {
  transform: translateZ(-800px);
  -webkit-transform: translateZ(-800px);
}

.scale10 {
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
}

.move11 {
  animation: move 0.55s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s infinite normal;
  -webkit-animation: move 0.55s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s infinite normal;
}

.glassMove11 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s infinite normal;
}

.pos11 {
  left: 22%;
}

.posTop11 {
  top: 22%;
}

.translate11 {
  transform: translateZ(-880px);
  -webkit-transform: translateZ(-880px);
}

.scale11 {
  transform: scale(0.11);
  -webkit-transform: scale(0.11);
}

.move12 {
  animation: move 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s infinite normal;
  -webkit-animation: move 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s infinite normal;
}

.glassMove12 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 6s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 6s infinite normal;
}

.pos12 {
  left: 24%;
}

.posTop12 {
  top: 24%;
}

.translate12 {
  transform: translateZ(-960px);
  -webkit-transform: translateZ(-960px);
}

.scale12 {
  transform: scale(0.12);
  -webkit-transform: scale(0.12);
}

.move13 {
  animation: move 0.65s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s infinite normal;
  -webkit-animation: move 0.65s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s infinite normal;
}

.glassMove13 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s infinite normal;
}

.pos13 {
  left: 26%;
}

.posTop13 {
  top: 26%;
}

.translate13 {
  transform: translateZ(-1040px);
  -webkit-transform: translateZ(-1040px);
}

.scale13 {
  transform: scale(0.13);
  -webkit-transform: scale(0.13);
}

.move14 {
  animation: move 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s infinite normal;
  -webkit-animation: move 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s infinite normal;
}

.glassMove14 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 7s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 7s infinite normal;
}

.pos14 {
  left: 28.0%;
}

.posTop14 {
  top: 28.0%;
}

.translate14 {
  transform: translateZ(-1120px);
  -webkit-transform: translateZ(-1120px);
}

.scale14 {
  transform: scale(0.14);
  -webkit-transform: scale(0.14);
}

.move15 {
  animation: move 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s infinite normal;
  -webkit-animation: move 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s infinite normal;
}

.glassMove15 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 7.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 7.5s infinite normal;
}

.pos15 {
  left: 30%;
}

.posTop15 {
  top: 30%;
}

.translate15 {
  transform: translateZ(-1200px);
  -webkit-transform: translateZ(-1200px);
}

.scale15 {
  transform: scale(0.15);
  -webkit-transform: scale(0.15);
}

.move16 {
  animation: move 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s infinite normal;
  -webkit-animation: move 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s infinite normal;
}

.glassMove16 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 8s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 8s infinite normal;
}

.pos16 {
  left: 32%;
}

.posTop16 {
  top: 32%;
}

.translate16 {
  transform: translateZ(-1280px);
  -webkit-transform: translateZ(-1280px);
}

.scale16 {
  transform: scale(0.16);
  -webkit-transform: scale(0.16);
}

.move17 {
  animation: move 0.85s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s infinite normal;
  -webkit-animation: move 0.85s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s infinite normal;
}

.glassMove17 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 8.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 8.5s infinite normal;
}

.pos17 {
  left: 34%;
}

.posTop17 {
  top: 34%;
}

.translate17 {
  transform: translateZ(-1360px);
  -webkit-transform: translateZ(-1360px);
}

.scale17 {
  transform: scale(0.17);
  -webkit-transform: scale(0.17);
}

.move18 {
  animation: move 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s infinite normal;
  -webkit-animation: move 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s infinite normal;
}

.glassMove18 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 9s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 9s infinite normal;
}

.pos18 {
  left: 36%;
}

.posTop18 {
  top: 36%;
}

.translate18 {
  transform: translateZ(-1440px);
  -webkit-transform: translateZ(-1440px);
}

.scale18 {
  transform: scale(0.18);
  -webkit-transform: scale(0.18);
}

.move19 {
  animation: move 0.95s cubic-bezier(0.47, 0, 0.745, 0.715) 0.95s infinite normal;
  -webkit-animation: move 0.95s cubic-bezier(0.47, 0, 0.745, 0.715) 0.95s infinite normal;
}

.glassMove19 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 9.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 9.5s infinite normal;
}

.pos19 {
  left: 38%;
}

.posTop19 {
  top: 38%;
}

.translate19 {
  transform: translateZ(-1520px);
  -webkit-transform: translateZ(-1520px);
}

.scale19 {
  transform: scale(0.19);
  -webkit-transform: scale(0.19);
}

.move20 {
  animation: move 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s infinite normal;
  -webkit-animation: move 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s infinite normal;
}

.glassMove20 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 10s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 10s infinite normal;
}

.pos20 {
  left: 40%;
}

.posTop20 {
  top: 40%;
}

.translate20 {
  transform: translateZ(-1600px);
  -webkit-transform: translateZ(-1600px);
}

.scale20 {
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
}

.move21 {
  animation: move 1.05s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s infinite normal;
  -webkit-animation: move 1.05s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s infinite normal;
}

.glassMove21 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 10.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 10.5s infinite normal;
}

.pos21 {
  left: 42%;
}

.posTop21 {
  top: 42%;
}

.translate21 {
  transform: translateZ(-1680px);
  -webkit-transform: translateZ(-1680px);
}

.scale21 {
  transform: scale(0.21);
  -webkit-transform: scale(0.21);
}

.move22 {
  animation: move 1.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s infinite normal;
  -webkit-animation: move 1.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s infinite normal;
}

.glassMove22 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 11s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 11s infinite normal;
}

.pos22 {
  left: 44%;
}

.posTop22 {
  top: 44%;
}

.translate22 {
  transform: translateZ(-1760px);
  -webkit-transform: translateZ(-1760px);
}

.scale22 {
  transform: scale(0.22);
  -webkit-transform: scale(0.22);
}

.move23 {
  animation: move 1.15s cubic-bezier(0.47, 0, 0.745, 0.715) 1.15s infinite normal;
  -webkit-animation: move 1.15s cubic-bezier(0.47, 0, 0.745, 0.715) 1.15s infinite normal;
}

.glassMove23 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 11.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 11.5s infinite normal;
}

.pos23 {
  left: 46%;
}

.posTop23 {
  top: 46%;
}

.translate23 {
  transform: translateZ(-1840px);
  -webkit-transform: translateZ(-1840px);
}

.scale23 {
  transform: scale(0.23);
  -webkit-transform: scale(0.23);
}

.move24 {
  animation: move 1.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s infinite normal;
  -webkit-animation: move 1.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s infinite normal;
}

.glassMove24 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 12s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 12s infinite normal;
}

.pos24 {
  left: 48%;
}

.posTop24 {
  top: 48%;
}

.translate24 {
  transform: translateZ(-1920px);
  -webkit-transform: translateZ(-1920px);
}

.scale24 {
  transform: scale(0.24);
  -webkit-transform: scale(0.24);
}

.move25 {
  animation: move 1.25s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s infinite normal;
  -webkit-animation: move 1.25s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s infinite normal;
}

.glassMove25 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 12.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 12.5s infinite normal;
}

.pos25 {
  left: 50%;
}

.posTop25 {
  top: 50%;
}

.translate25 {
  transform: translateZ(-2000px);
  -webkit-transform: translateZ(-2000px);
}

.scale25 {
  transform: scale(0.25);
  -webkit-transform: scale(0.25);
}

.move26 {
  animation: move 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s infinite normal;
  -webkit-animation: move 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s infinite normal;
}

.glassMove26 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 13s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 13s infinite normal;
}

.pos26 {
  left: 52%;
}

.posTop26 {
  top: 52%;
}

.translate26 {
  transform: translateZ(-2080px);
  -webkit-transform: translateZ(-2080px);
}

.scale26 {
  transform: scale(0.26);
  -webkit-transform: scale(0.26);
}

.move27 {
  animation: move 1.35s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s infinite normal;
  -webkit-animation: move 1.35s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s infinite normal;
}

.glassMove27 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 13.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 13.5s infinite normal;
}

.pos27 {
  left: 54%;
}

.posTop27 {
  top: 54%;
}

.translate27 {
  transform: translateZ(-2160px);
  -webkit-transform: translateZ(-2160px);
}

.scale27 {
  transform: scale(0.27);
  -webkit-transform: scale(0.27);
}

.move28 {
  animation: move 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s infinite normal;
  -webkit-animation: move 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s infinite normal;
}

.glassMove28 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 14s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 14s infinite normal;
}

.pos28 {
  left: 56.0%;
}

.posTop28 {
  top: 56.0%;
}

.translate28 {
  transform: translateZ(-2240px);
  -webkit-transform: translateZ(-2240px);
}

.scale28 {
  transform: scale(0.28);
  -webkit-transform: scale(0.28);
}

.move29 {
  animation: move 1.45s cubic-bezier(0.47, 0, 0.745, 0.715) 1.45s infinite normal;
  -webkit-animation: move 1.45s cubic-bezier(0.47, 0, 0.745, 0.715) 1.45s infinite normal;
}

.glassMove29 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 14.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 14.5s infinite normal;
}

.pos29 {
  left: 58.0%;
}

.posTop29 {
  top: 58.0%;
}

.translate29 {
  transform: translateZ(-2320px);
  -webkit-transform: translateZ(-2320px);
}

.scale29 {
  transform: scale(0.29);
  -webkit-transform: scale(0.29);
}

.move30 {
  animation: move 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s infinite normal;
  -webkit-animation: move 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s infinite normal;
}

.glassMove30 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 15s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 15s infinite normal;
}

.pos30 {
  left: 60%;
}

.posTop30 {
  top: 60%;
}

.translate30 {
  transform: translateZ(-2400px);
  -webkit-transform: translateZ(-2400px);
}

.scale30 {
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
}

.move31 {
  animation: move 1.55s cubic-bezier(0.47, 0, 0.745, 0.715) 1.55s infinite normal;
  -webkit-animation: move 1.55s cubic-bezier(0.47, 0, 0.745, 0.715) 1.55s infinite normal;
}

.glassMove31 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 15.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 15.5s infinite normal;
}

.pos31 {
  left: 62%;
}

.posTop31 {
  top: 62%;
}

.translate31 {
  transform: translateZ(-2480px);
  -webkit-transform: translateZ(-2480px);
}

.scale31 {
  transform: scale(0.31);
  -webkit-transform: scale(0.31);
}

.move32 {
  animation: move 1.6s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s infinite normal;
  -webkit-animation: move 1.6s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s infinite normal;
}

.glassMove32 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 16s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 16s infinite normal;
}

.pos32 {
  left: 64%;
}

.posTop32 {
  top: 64%;
}

.translate32 {
  transform: translateZ(-2560px);
  -webkit-transform: translateZ(-2560px);
}

.scale32 {
  transform: scale(0.32);
  -webkit-transform: scale(0.32);
}

.move33 {
  animation: move 1.65s cubic-bezier(0.47, 0, 0.745, 0.715) 1.65s infinite normal;
  -webkit-animation: move 1.65s cubic-bezier(0.47, 0, 0.745, 0.715) 1.65s infinite normal;
}

.glassMove33 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 16.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 16.5s infinite normal;
}

.pos33 {
  left: 66%;
}

.posTop33 {
  top: 66%;
}

.translate33 {
  transform: translateZ(-2640px);
  -webkit-transform: translateZ(-2640px);
}

.scale33 {
  transform: scale(0.33);
  -webkit-transform: scale(0.33);
}

.move34 {
  animation: move 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s infinite normal;
  -webkit-animation: move 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s infinite normal;
}

.glassMove34 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 17s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 17s infinite normal;
}

.pos34 {
  left: 68%;
}

.posTop34 {
  top: 68%;
}

.translate34 {
  transform: translateZ(-2720px);
  -webkit-transform: translateZ(-2720px);
}

.scale34 {
  transform: scale(0.34);
  -webkit-transform: scale(0.34);
}

.move35 {
  animation: move 1.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s infinite normal;
  -webkit-animation: move 1.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s infinite normal;
}

.glassMove35 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 17.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 17.5s infinite normal;
}

.pos35 {
  left: 70%;
}

.posTop35 {
  top: 70%;
}

.translate35 {
  transform: translateZ(-2800px);
  -webkit-transform: translateZ(-2800px);
}

.scale35 {
  transform: scale(0.35);
  -webkit-transform: scale(0.35);
}

.move36 {
  animation: move 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s infinite normal;
  -webkit-animation: move 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s infinite normal;
}

.glassMove36 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 18s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 18s infinite normal;
}

.pos36 {
  left: 72%;
}

.posTop36 {
  top: 72%;
}

.translate36 {
  transform: translateZ(-2880px);
  -webkit-transform: translateZ(-2880px);
}

.scale36 {
  transform: scale(0.36);
  -webkit-transform: scale(0.36);
}

.move37 {
  animation: move 1.85s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s infinite normal;
  -webkit-animation: move 1.85s cubic-bezier(0.47, 0, 0.745, 0.715) 1.85s infinite normal;
}

.glassMove37 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 18.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 18.5s infinite normal;
}

.pos37 {
  left: 74%;
}

.posTop37 {
  top: 74%;
}

.translate37 {
  transform: translateZ(-2960px);
  -webkit-transform: translateZ(-2960px);
}

.scale37 {
  transform: scale(0.37);
  -webkit-transform: scale(0.37);
}

.move38 {
  animation: move 1.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s infinite normal;
  -webkit-animation: move 1.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s infinite normal;
}

.glassMove38 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 19s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 19s infinite normal;
}

.pos38 {
  left: 76%;
}

.posTop38 {
  top: 76%;
}

.translate38 {
  transform: translateZ(-3040px);
  -webkit-transform: translateZ(-3040px);
}

.scale38 {
  transform: scale(0.38);
  -webkit-transform: scale(0.38);
}

.move39 {
  animation: move 1.95s cubic-bezier(0.47, 0, 0.745, 0.715) 1.95s infinite normal;
  -webkit-animation: move 1.95s cubic-bezier(0.47, 0, 0.745, 0.715) 1.95s infinite normal;
}

.glassMove39 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 19.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 19.5s infinite normal;
}

.pos39 {
  left: 78%;
}

.posTop39 {
  top: 78%;
}

.translate39 {
  transform: translateZ(-3120px);
  -webkit-transform: translateZ(-3120px);
}

.scale39 {
  transform: scale(0.39);
  -webkit-transform: scale(0.39);
}

.move40 {
  animation: move 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2s infinite normal;
  -webkit-animation: move 2s cubic-bezier(0.47, 0, 0.745, 0.715) 2s infinite normal;
}

.glassMove40 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 20s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 20s infinite normal;
}

.pos40 {
  left: 80%;
}

.posTop40 {
  top: 80%;
}

.translate40 {
  transform: translateZ(-3200px);
  -webkit-transform: translateZ(-3200px);
}

.scale40 {
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
}

.move41 {
  animation: move 2.05s cubic-bezier(0.47, 0, 0.745, 0.715) 2.05s infinite normal;
  -webkit-animation: move 2.05s cubic-bezier(0.47, 0, 0.745, 0.715) 2.05s infinite normal;
}

.glassMove41 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 20.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 20.5s infinite normal;
}

.pos41 {
  left: 82%;
}

.posTop41 {
  top: 82%;
}

.translate41 {
  transform: translateZ(-3280px);
  -webkit-transform: translateZ(-3280px);
}

.scale41 {
  transform: scale(0.41);
  -webkit-transform: scale(0.41);
}

.move42 {
  animation: move 2.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s infinite normal;
  -webkit-animation: move 2.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s infinite normal;
}

.glassMove42 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 21s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 21s infinite normal;
}

.pos42 {
  left: 84%;
}

.posTop42 {
  top: 84%;
}

.translate42 {
  transform: translateZ(-3360px);
  -webkit-transform: translateZ(-3360px);
}

.scale42 {
  transform: scale(0.42);
  -webkit-transform: scale(0.42);
}

.move43 {
  animation: move 2.15s cubic-bezier(0.47, 0, 0.745, 0.715) 2.15s infinite normal;
  -webkit-animation: move 2.15s cubic-bezier(0.47, 0, 0.745, 0.715) 2.15s infinite normal;
}

.glassMove43 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 21.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 21.5s infinite normal;
}

.pos43 {
  left: 86%;
}

.posTop43 {
  top: 86%;
}

.translate43 {
  transform: translateZ(-3440px);
  -webkit-transform: translateZ(-3440px);
}

.scale43 {
  transform: scale(0.43);
  -webkit-transform: scale(0.43);
}

.move44 {
  animation: move 2.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s infinite normal;
  -webkit-animation: move 2.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s infinite normal;
}

.glassMove44 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 22s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 22s infinite normal;
}

.pos44 {
  left: 88%;
}

.posTop44 {
  top: 88%;
}

.translate44 {
  transform: translateZ(-3520px);
  -webkit-transform: translateZ(-3520px);
}

.scale44 {
  transform: scale(0.44);
  -webkit-transform: scale(0.44);
}

.move45 {
  animation: move 2.25s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s infinite normal;
  -webkit-animation: move 2.25s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s infinite normal;
}

.glassMove45 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 22.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 22.5s infinite normal;
}

.pos45 {
  left: 90%;
}

.posTop45 {
  top: 90%;
}

.translate45 {
  transform: translateZ(-3600px);
  -webkit-transform: translateZ(-3600px);
}

.scale45 {
  transform: scale(0.45);
  -webkit-transform: scale(0.45);
}

.move46 {
  animation: move 2.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s infinite normal;
  -webkit-animation: move 2.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s infinite normal;
}

.glassMove46 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 23s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 23s infinite normal;
}

.pos46 {
  left: 92%;
}

.posTop46 {
  top: 92%;
}

.translate46 {
  transform: translateZ(-3680px);
  -webkit-transform: translateZ(-3680px);
}

.scale46 {
  transform: scale(0.46);
  -webkit-transform: scale(0.46);
}

.move47 {
  animation: move 2.35s cubic-bezier(0.47, 0, 0.745, 0.715) 2.35s infinite normal;
  -webkit-animation: move 2.35s cubic-bezier(0.47, 0, 0.745, 0.715) 2.35s infinite normal;
}

.glassMove47 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 23.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 23.5s infinite normal;
}

.pos47 {
  left: 94%;
}

.posTop47 {
  top: 94%;
}

.translate47 {
  transform: translateZ(-3760px);
  -webkit-transform: translateZ(-3760px);
}

.scale47 {
  transform: scale(0.47);
  -webkit-transform: scale(0.47);
}

.move48 {
  animation: move 2.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s infinite normal;
  -webkit-animation: move 2.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s infinite normal;
}

.glassMove48 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 24s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 24s infinite normal;
}

.pos48 {
  left: 96%;
}

.posTop48 {
  top: 96%;
}

.translate48 {
  transform: translateZ(-3840px);
  -webkit-transform: translateZ(-3840px);
}

.scale48 {
  transform: scale(0.48);
  -webkit-transform: scale(0.48);
}

.move49 {
  animation: move 2.45s cubic-bezier(0.47, 0, 0.745, 0.715) 2.45s infinite normal;
  -webkit-animation: move 2.45s cubic-bezier(0.47, 0, 0.745, 0.715) 2.45s infinite normal;
}

.glassMove49 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 24.5s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 24.5s infinite normal;
}

.pos49 {
  left: 98%;
}

.posTop49 {
  top: 98%;
}

.translate49 {
  transform: translateZ(-3920px);
  -webkit-transform: translateZ(-3920px);
}

.scale49 {
  transform: scale(0.49);
  -webkit-transform: scale(0.49);
}

.move50 {
  animation: move 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s infinite normal;
  -webkit-animation: move 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s infinite normal;
}

.glassMove50 {
  animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 25s infinite normal;
  -webkit-animation: glassMove 8s cubic-bezier(0.47, 0, 0.745, 0.715) 25s infinite normal;
}

.pos50 {
  left: 100%;
}

.posTop50 {
  top: 100%;
}

.translate50 {
  transform: translateZ(-4000px);
  -webkit-transform: translateZ(-4000px);
}

.scale50 {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

.rotate-5 {
  transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
}

.rotate-4 {
  transform: rotateZ(-8deg);
  -webkit-transform: rotateZ(-8deg);
}

.rotate-3 {
  transform: rotateZ(-6deg);
  -webkit-transform: rotateZ(-6deg);
}

.rotate-2 {
  transform: rotateZ(-4deg);
  -webkit-transform: rotateZ(-4deg);
}

.rotate-1 {
  transform: rotateZ(-2deg);
  -webkit-transform: rotateZ(-2deg);
}

.rotate0 {
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}

.rotate1 {
  transform: rotateZ(2deg);
  -webkit-transform: rotateZ(2deg);
}

.rotate2 {
  transform: rotateZ(4deg);
  -webkit-transform: rotateZ(4deg);
}

.rotate3 {
  transform: rotateZ(6deg);
  -webkit-transform: rotateZ(6deg);
}

.rotate4 {
  transform: rotateZ(8deg);
  -webkit-transform: rotateZ(8deg);
}

.rotate5 {
  transform: rotateZ(10deg);
  -webkit-transform: rotateZ(10deg);
}
